@{
    ViewBag.Title = "About";
}
<h2>Advanced Search</h2>
<h3>Click on one of the bottons to run the pre-made query</h3>

<p>Use this area to provide additional information.</p>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="btn-group-lg text-center" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Sort Automobiles by Salesmen</button>
                <button type="button" class="btn btn-default">Request Contact Info of Previous Owners</button>
                <button type="button" class="btn btn-default"></button>
            </div>
        </div>
        <div class="row">
            <div class="btn-group-lg text-center" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
            </div>
        </div>
        <div class="row">
            <div class="btn-group-lg text-center" role="group" aria-label="...">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
            </div>
        </div>
    </div>
    <div class="col-md-4">

    </div>
</div>
