@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>HonestDealer.com</h1>
    <p class="lead">Car Dealership Management System and Customer Search Tool.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Top Dealers</h2>
        <ul>
         <li>Kingdom Kia</li>
         <li>Denny Ford</li>
         <li>Al West</li>
         <li>Fairground Auto Plaza</li>
        </ul>

        <h2>Top Salesmen</h2>
        <ul>
            <li>Joel Percyman</li>
            <li>Dan Lin</li>
            <li>Scott Bierpercy</li>
            <li>Tyler Perrybaum</li>
        </ul>
    </div>

    <div class="col-md-9">
      <div class="row">    
        <h2>Inventory</h2>
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Select Dealer To Search
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
         <li><a href="#">Kingdom Kia</a></li>
         <li><a href="#">Denny Ford</a></li>
         <li><a href="#">Al West</a></li>
         <li><a hred="#">Fairground Auto Plaza</a></li>
         <li role="separator" class="divider"></li>
         <li><a href="#">All Dealerships</a></li>
        </ul>
        </div>

      </div>

      <div class="row"> 
            
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
            <input type="text" class="form-control" placeholder="Search for...">
        </div><!-- /input-group -->
            
      </div>
       
      <div class="row">
          <button type="button" class="btn btn-default">Advanced Search</button>
      </div>
          
      </div>

</div>